header{
    background-image: url(../assets/img/header/Header.png);
    background-color: #501cec;
    background-size: cover ;
    height: 459px;
    gap: 1.5rem;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav{
    width: 757px;
    height: 270px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

header h1{
    width: 313px;
    height: 112px;
    color: white;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px auto;
}

#description-content{
    color: white;
    font-weight: 400;
    size: 1rem;
    margin-bottom: 1rem;
}

#button-container a{
    text-decoration: none;
    
}

.button-items{
    width: 381px;
    height: 44px;
    border: 1px solid black;
    border-radius: 28px;
    padding: 0.688rem 1.438rem;
    margin-right: 1rem;
    font-weight: 400;
    size: 1rem;
}

#button-01{
    color: black;
}

.button-001{
    background-color: white;
}

#button-02{
    color: white;
}

.button-002{
    background-color: black;
}


@media screen and (max-width: 540px){
    
    header{
        height: 505px;
        display: flex;
        flex-wrap: wrap;
        background-position: center;
    }

    nav{
        width: 428px;
        height: 366px;
        align-items: flex-start;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: start;
    }

    nav h1{
        margin: 0 0 ;
    }

    #description-content{
        color: white;
        font-weight: 400;
        size: 1rem;
        margin-bottom: 1rem;
    }
    
    #button-container {
        height: 122px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
    }
    
    .button-items{
        height: 122px;
        border: 1px solid black;
        border-radius: 28px;
        padding: 0.688rem 1.438rem;
        font-weight: 400;
        size: 1rem;
    }
}