#section-03{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-03 #create-container{
    height: 448px;
    flex-direction: row-reverse;
    gap: 16px;
}

#section-03 img{
    width: 607px;
    height: 394px;
}

#section-03 .text-content{
    width: 351px;
    height: 234px;
}

@media screen and (max-width: 540px){
    
    #section-03{
        width: 428px;
        height: 507px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-03 #create-container{
        width: 428px;
        height: 573px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #section-03 .image-content img{
        width: 379px;
        height: 252px;
        padding: 40px 24px;
    }
    
    #section-03 .text-content{
        width: 348px;
        height: 374px;
        display: flex;
        flex-direction: column;
        padding: 0px 24px;
    }
    
    #section-03 .text-content h1{
            width: 373px ;
            height: 33px;
            font-weight: 800;
            line-height: 135%;
            font-size: 1.5rem;
            margin-bottom: 10px;
            margin-bottom: 24px;
    }
    
    #section-03 .text-content span{
        width: 378px;
        height: 88px ;
        font-weight: 400;
        font-size: 1rem;
        line-height: 135%;
    }
}
