#section-02{
    background-color: #F6F6F6;
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-02 .text-content{
    width: 351px;
    height: 212px;
}

@media screen and (max-width: 540px){
    
    #section-02{
        width: 428px;
        height: 507px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-02 #create-container{
        width: 428px;
        height: 573px;
        flex-direction: column-reverse;
        align-items: center;
    }

    #section-02 .image-content img{
        width: 379px;
        height: 252px;
        padding: 2.5rem 1.5rem;
    }
    
    #section-02 .text-content{
        width: 348px;
        height: 374px;
        display: flex;
        flex-direction: column;
        padding: 0px 1.5rem;
    }
    
    #section-02 .text-content h1{
            width: 379px;
            height: 33px;
            font-weight: 800;
            line-height: 135%;
            font-size: 1.5rem;
            margin-bottom: 0.625rem;
            margin-bottom: 1.5rem;
    }
    
    #section-02 .text-content span{
        width: 378px;
        height: 88px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 135%;
    }
}